

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .counter-box {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    margin-bottom: 20px;

  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .button-container button {
    margin: 5px;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(99, 157, 11);
    color: white;
    border-radius: 4px;
  }
  
  